@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #A67732, #594B36);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #332b1f75;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
color: #594B36;
text-align: center;
text-shadow: 1px 1px 0px #322a1f73;

}
h2 {
    color: #E8A745;
}

P {
    text-align: justify;
}